@import "tailwindcss";

@font-face {
    font-family: 'MafleType';
    src: url('/src/assets/fonts/mafle-type/mafletype-black.ttf') format('truetype');
}



.header-title {
    font-family: 'MafleType', sans-serif;
}